/* ----------------------------- General Styles ------------------------------ */
@font-face {
    font-family: 'Urbanist';
    src: url('./../fonts/Urbanist-Regular.ttf');
}

:root {
    --primary-color: #6c63ff;
    --white: #f5f5f5;
    --light-gray: #d9d9d9;
    --gray: #a6a6a6;
    --dark-gray: #393939;
    --black: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1   {font-size: 48px;} /* 36 ~ 40 */
h2   {font-size: 36px;} /* 28 ~ 32 */
h3   {font-size: 32px;} /* 20 ~ 24 */
p, a {font-size: 22px;} /* 16 ~ 20 */
span {color: var(--primary-color);}
ul {list-style: none;}
a {
    text-decoration: none;
    font-weight: bold; color:
    var(--primary-color);
}

body {
    font-family: 'Urbanist';
    background-color: var(--dark-gray);
}

body#home {
    background-color: var(--white);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 30px;
}

.grid-columns {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
}

/* ----------------------------- Home Page ------------------------------ */
#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: grid;
    place-items: center;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "nav"
    "content"
    ;
}

#hero nav {
    grid-area: nav;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero .nav-list {display: none;}
#hero .nav-list.active {display: block;}

#hero section {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 150px 0;
    width: 300px;
    background-color: var(--white);
    border-radius: 30px;
}

#hero section p {
    background-color: var(--light-gray);
    position: relative;
    top: 80px;
    padding: 20px 30px;
    border-radius: 30px;
}

#hero section a {
    position: relative;
    top: 170px;
    padding: 10px 20px;
    border-radius: 25px 25px 10px 25px;
    background-color: var(--primary-color);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

#hero #logo {
    background-color: var(--white);
    padding: 5px 20px;
    border-radius: 25px 25px 10px 25px;
}

#hero #scroll-icon {display: none;}

#about {
    margin: 100px auto;
    text-align: center;
}

#about div {margin-bottom: 50px;}
#about div h2 {margin-bottom: 50px;}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--white);
}

@media(min-width: 720px) {
    #hero {height: 100vh;}
    #hero #logo {display: none;}
    #hero nav {justify-content: center;}
    #hero nav img {display: none;}
    #hero nav .nav-list .nav-item a {display: inline-block;}

    #hero nav .nav-list {
        display: flex;
        gap: 100px;
    }

    #hero section {
        position: relative;
        left: -350px;
    }

    #hero section p {
        position: relative;
        left: 100px;
    }

    #about div {text-align: left;}

    .grid-columns {grid-template-columns: repeat(2, 48%);}
}